/* Jumbotron */
.jumbotron {
    background-color: var(--main-bg-color);
}

#separation {
    height: 10px;
}

/* Gestion des boutons */
.btn {
    height: 200px;
    width: 200px;
    transition: 0.5s;
    color: black;
    background-color: var(--main-bg-color);
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}

.btnMaisons{
    border-color: var(--main-maisons-color);
}
.btnMaisons:hover{
    background-color: var(--main-maisons-color);
}

.btnSorts{
    border-color: var(--main-sorts-color);
}
.btnSorts:hover{
    background-color: var(--main-sorts-color);
}

.btnLieux{
    border-color: var(--main-lieux-color);
}
.btnLieux:hover{
    background-color: var(--main-lieux-color);
}

.btnAetC{
    border-color: var(--main-aec-color);
}
.btnAetC:hover{
    background-color: var(--main-aec-color);
}

.btnBibli{
    border-color: var(--main-bibliotheque-color);
}
.btnBibli:hover{
    background-color: var(--main-bibliotheque-color);
}

.btnOrga{
    border-color: var(--main-org-color);
}
.btnOrga:hover{
    background-color: var(--main-org-color);
}

.btnPerso{
    border-color: var(--main-perso-color);
}
.btnPerso:hover{
    background-color: var(--main-perso-color);
}

.btnBack{
    border-color: var(--main-back-color);
}
.btnBack:hover{
    background-color: var(--main-back-color);
}

/* Gestion des emblêmes */
.embleme {
    height: 150px;
    border-radius: 50%;
}

/* Gestion du texte défilant */
.example1 h5 {
    color: darkred;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 30px;
    text-align: right;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: example1 20s linear infinite;
    -webkit-animation: example1 20s linear infinite;
    animation: example1 20s linear infinite;
}

.example1 {
    height: 50px;
    overflow: hidden;
    position: relative;
}

.example1 {
    position: fixed;
}

@-moz-keyframes example1 {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes example1 {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes example1 {
    0% {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}